<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/ico" href="/projets/Memory/assets/img/back.ico"/>
    <link rel="stylesheet" type="text/css" href="/projets/Memory/assets/css/style.css" media="all" />
    <title>Memory Game</title>
</head>

<body>
    <h1>Memory Game</h1>
    <p>Please, select difficulty:</p>
    <div class="playerChoice">
        <a href="/projets/Memory/easy/views/Index.html" target="_blank" style="text-decoration:none">
            <img src="/projets/Memory/assets/img/easy.png" alt="easy" width="400px" class="difficulty">
            <h2>Easy</h2>
            <a href="/projets/Memory/medium/views/Index.html" target="_blank" style="text-decoration:none">
                <img src="/projets/Memory/assets/img/medium.png" alt="medium" width="400px" class="difficulty">
                <h2>Medium</h2>
                <a href="/projets/Memory/hard/views/Index.html" target="_blank" style="text-decoration:none">
                    <img src="/projets/Memory/assets/img/hard.png" alt="hard" width="400px" class="difficulty">
                    <h2 class="hard">Hard</h2>
    </div>
    <p class="warning">Warning: avoid the hard mode if you suffer from epilepsy!</p>
    <!-- <div class="buttons">
        <form method="get" action="easy/Index.html">
            <button type="submit">Easy</button>
        </form>
        <form method="get" action="medium/Index.html">
            <button type="submit">Medium</button>
        </form>
        <form method="get" action="hard/Index.html">
            <button type="submit">Hard</button>
        </form>
    </div> -->
</body>

</html>